- attributes("title") = "Scalatra: a tiny, Sinatra-like web framework for Scala"
- attributes("headline") = "Welcome to Scalatra"
-@ val flowers: String

p= "Hello, Scalate!"
p= "We have a few flowers below:"
code= flowers